<!DOCTYPE html>
<html ng-app='foodThingie'>
<head>
	<title>Food Unused</title>
    <!-- Stripe -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="bower_components/angular-payments/lib/angular-payments.js"></script>
    <!-- Foundation CSS -->
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/foundation.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

	<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" media="screen" rel="stylesheet">

    <!-- AngularJS -->
   
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script>
    <script type="text/javascript" src='js/foodThingie.js'></script>

    <!-- Foundation JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="http://cdn.foundation5.zurb.com/foundation.js"></script>

    <!-- Socket.IO -->
	<script src='/socket.io/socket.io.js'></script>

	<!-- PieChart JS -->
	<script src="js/angularjs-nvd3-directives.js"></script>
	<script src="js/d3.js"></script>
	<script src="js/nv.d3.js"></script>

    <!-- PieChart CSS -->
	<link rel="stylesheet" href="css/nv.d3.css"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/titleStyle.css">
    <link rel="stylesheet" type="text/css" href="css/general.css">
    <script src="js/movementText.js"></script>

    <!-- foodThingie Routes -->
    <script src='js/ngRoutes.js'></script>

    <!-- foodThingie Factories -->
    <script src='js/factories/customerFactory.js'></script>
    <script src='js/factories/orderFactory.js'></script>
    <script src='js/factories/pieChartFactory.js'></script>
    <script src='js/factories/productFactory.js'></script>
    <script src='js/factories/socketFactory.js'></script>
    <script src='js/factories/vendorFactory.js'></script>

    <!-- foodThingie Controllers -->
    <script src='js/controllers/customerController.js'></script>
    <script src='js/controllers/dashCtrl.js'></script>
    <script src='js/controllers/indiController.js'></script>
    <script src='js/controllers/infoController.js'></script>
    <script src='js/controllers/login_regController.js'></script>
    <script src='js/controllers/pieChartController.js'></script>
    <script src='js/controllers/productsController.js'></script>
    <script src='js/controllers/vendorController.js'></script>
    <script src='js/controllers/checkoutController.js'></script>

</head>
<body>
	<div class="contain-to-grid">
	<nav class='top-bar' data-topbar role='navigation'>
		<ul class='title-area'>
			<li class='name'>
				<h1><a href="#/" >Food Unused</a></h1>
			</li>
		</ul>
		<section class='top-bar-section'>
			<ul class='right'>
				<li><a href="#/about">About</a></li>
				<li <a href="#" class="button"  data-dropdown="hover1" data-options="is_hover:true; hover_timeout:1000">Login / Register &raquo;</a>
					<ul id="hover1" class="mega f-dropdown" data-dropdown-content>
						<li><a data-href="#" data-reveal-id="vendorModal">Business Sign Up/Log In</a></li>
						<li><a data-href="#" data-reveal-id="customerModal">Customer Sign Up/Log In</a></li>
					</ul>
				</li>
				<li ng-controller='login_regController'><a ng-click='logout()'>Logout</a></li>
			</ul>
		</section>
	</nav>
	</div>

	<div ng-view=''>
	</div>


<div id = "footer">
    <!-- https://developers.facebook.com/docs/plugins/like-button -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>


    <!-- FOLLOW US ON TWITTER @foodUnused -->
    <section id = "twitterButtonFollow">
      <div class = "buttonT">
        <a href="https://twitter.com/foodUnused" class="twitter-follow-button" data-show-count="false" data-size="large">Follow us @foodUnused</a>
      </div>
      <div class="cover">
        <div class="innie"></div>
        <div class="spine"></div>
        <div class="outie"></div>
      </div>
      <div class="shadow"></div>
    </section>
</div>


    <!-- *** BUSINESS REGISTRATION FOUNDATION MODAL *** -->

    <div ng-controller='login_regController' id="vendorModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" >

        <h4 class="modal-title" id="myModalLabel">Register / Sign in</h4>
                
            
                <div class="modal-body">
                    <div style = "overflow-y:scroll;height:20em;">
                    <h2>Register</h2>
                    <form>
                        <input type = 'text' placeholder = 'Name' ng-model='newVendor.name' />
                        <input type = 'email' placeholder = 'Email' ng-model='newVendor.email' />
                        <input type = 'password' placeholder = 'Password' ng-model='newVendor.password' />
                        From: <input type='time' ng-model='newVendor.fromTime' />
                        To: <input type='time' ng-model='newVendor.toTime' />
                        <input type='text' placeholder='Address' ng-model='newVendor.address' />
                        <input type='text' placeholder='Phone' ng-model='newVendor.phone' />
                        Type: <select ng-model='newVendor.type'>
                                    <option value='grocery'>Grocery Store</option>
                                    <option value='restaurant'>Restaurant</option>
                              </select>
                        <a class="button modal-close-vendor" ng-click='addVendor()'>Register</a>
                    </form>
                    </div>
                </div>
                    <h2>Login</h2>
                    <form>
                        <input type = 'email' placeholder = 'Email' ng-model='vendorLogin.email' />
                        <input type = 'password' placeholder = 'Password' ng-model='vendorLogin.password'>
                        <button class="button modal-close-vendor" data-dismiss="modal" ng-click='retrieveVendor()'>Login</button>
                    </form>
     
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

    <!-- *** CUSTOMER LOGIN/REGISTER MODAL *** -->

    <div ng-controller='login_regController' id="customerModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h4 class="modal-title" id="myModalLabel">Register / Sign in</h4>
            
                    <h2>Register</h2>
                    <form>
                        <input type = 'text' placeholder = 'Name' ng-model='newCustomer.name' />
                        <input type = 'email' placeholder = 'Email' ng-model='newCustomer.email' />
                        <input type = 'password' placeholder = 'Password' ng-model='newCustomer.password' />
                        
                        <a class="button modal-close-customer" ng-click='addCustomer()'>Register</a>
                    </form>

                    <h2>Login</h2>
                    <form>
                        <input type = 'email' placeholder = 'Email' ng-model='customerLogin.email' />
                        <input type = 'password' placeholder = 'Password' ng-model='customerLogin.password'>
                        <button class="button modal-close-customer" ng-click='retrieveCustomer()'>Login</button>
                    </form>
              <a class='close-reveal-modal' aria-label="Close">&#215;</a>
    </div>

<script src="js/vendor/jquery.js"></script>
<script src="js/foundation/foundation.js"></script>
<script src="js/foundation/foundation.topbar.js"></script>
<script src="js/foundation/foundation.dropdown.js"></script>
<script src="js/foundation/foundation.reveal.js"></script>
<script src="js/vendor/fastclick.js"></script>

<script type="text/javascript">
    $(document).foundation('dropdown',{
      activeClass: 'open'
    });

    $('.modal-close-customer').on('click', function() {
      $('#customerModal').foundation('reveal', 'close');
    });

    $('.modal-close-vendor').on('click', function() {
      $('#vendorModal').foundation('reveal', 'close');
    });
    
    $(document).foundation();
</script>
</body>
</html>