<link rel="stylesheet" type="text/css" href="css/contactFormStyle.css">
<link rel="stylesheet" type="text/css" href="css/general.css">

<div class="row" ng-controller="infoController" >
    <div class="large-12 columns">
    <!-- <img id = "siteTitle" src="assets/foodUnusedTitle2.png"> -->
	<!-- <img id = "siteTitle" src="assets/foodUnusedTitle3.png"> -->
	<!-- <img id = "siteTitle" src="assets/foodUnusedTitle4.png"> -->
	<img id = "siteTitle" src="assets/foodUnusedTitle5.png">

	<div class = "row">
	    <div class="titlecontainer">
	      <div class="abouttitle">About Us</div>
	    </div>
	</div>
	<h5>Roughly one third of the food produced in the world for human consumption every year — approximately 1.3 billion tonnes — gets lost or wasted.</h5>
	<p>With the billions of dollars of good food that is tossed each year in North America, Food Unused aims to provide a platform to enable restaurants and grocery stores the power to sell unpurchased food at a discounted price to hungry customers.</p>
	
	<h1>Market</h1>
	<p>Our approximate market size is ... the world! With Food Unused, any store has the means to put their unused food to a better cause. Now, any customer, rich or poor, old or young, hungry or starving, is able to get access to cheaper food - and healthy food - with a click of the button (and perhaps another click to request an Uber).</p>

	<h1>Future Goals</h1>
	<p>Our future goal is to change the food business for the better to encorporate those who are not as fortunate to be able to go to the most expensive stores in order to live a healthy lifestyle.</p>

	<h1>Meet the team</h1>
	<p>Our team members are hardworking, enthusiastic hackers united under a passion to help humanity.</p>
	<ul>
		<li><span style = "font-weight:bold;">Anika:</span> Co-Founder, Co-Creator, Co-Developer, Co-Hacker</li>
		<li><span style = "font-weight:bold;">Jay:</span> Co-Creator, Co-Founder, Co-Hacker, Co-Developer</li>
		<li><span style = "font-weight:bold;">John:</span> Co-Developer, Co-Creator, Co-Founder, Co-Hacker</li>
		<li><span style = "font-weight:bold;">Sina:</span> Co-Creator, Co-Developer, Co-Hacker, Co-Founder</li>
	</ul>


	<div id = "contactForm">
		<h1>Contact Us</h1>
		<div id="form-main">
		  <div id="form-div">
		    <form class="form" id="form1">
		      
		      <p class="name">
		        <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" id="name" />
		      </p>
		      
		      <p class="email">
		        <input name="email" type="text" class="validate[required,custom[email]] feedback-input" id="email" />
		      </p>
		      
		      <p class="text">
		        <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment"></textarea>
		      </p>
		      
		      
		      <div class="submit">
		        <input type="submit" value="SEND" id="button-blue"/>
		        <div class="ease"></div>
		      </div>
		    </form>
		  </div>
		</div>
	</div>

	<h1>Make a difference</h1>
	<div id = "chooseType">
		<p>Where are you eating today?</p>
		<a href='#/restaurantList' class='button selection'>Restaurant</a> <a href='#/groceryList' class='button selection'>Grocery</a>
	</div>
    

</div>
</div>
