<link rel="stylesheet" type="text/css" href="css/listingStyle.css">
<link rel="stylesheet" type="text/css" href="css/general.css">

<div ng-controller='infoController'>

	<input type='text' nd-model='vendor_filter' placeholder='Search Listings' />
	<h1>Grocery Stores</h1>
	<div class="container">
		<table>
			<thead>
				<tr>
					<th>Grocery Name</th>
					<th>Location</th>
					<th>Hours</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='grocery in groceries | filter: vendor_filter'>
					<td><a href='#/singleStore/{{grocery._id}}' ng-bind='grocery.name'></a></td>
					<td ng-bind='grocery.address'></td>
					<td ng-bind='grocery.hours | date: "h"'></td>
				</tr>
			</tbody>
		</table>

	</div>

</div>