<link rel="stylesheet" type="text/css" href="css/general.css">

<div class="row" ng-controller="piechart" >
    <div class="large-12 columns">
    <!-- <img id = "siteTitle" src="assets/foodUnusedTitle2.png"> -->
	<!-- <img id = "siteTitle" src="assets/foodUnusedTitle3.png"> -->
	<!-- <img id = "siteTitle" src="assets/foodUnusedTitle4.png"> -->
	<img id = "siteTitle" src="assets/foodUnusedTitle5.png">

	<h1>Did You Know?</h1>
	<h5>Roughly one third of the food produced in the world for human consumption every year — approximately 1.3 billion tonnes — gets lost or wasted.</h5>
	<h3>Food loss and waste per person per year (lb)</h3>
	<div ng-controller="piechart">
	<nvd3-pie-chart
    	data="exampleData"
        id="exampleId"
        width="550"
        height="350"
        x="xFunction()"
        y="yFunction()"
        showLabels="true"
        showLegend="true"
        tooltips="true"
        labelType="percent"
        tooltipcontent="toolTipContentFunction()">
        <svg height="250"></svg>
    </nvd3-pie-chart>
	</div>
	<div id = "chooseType">
		<p>Where are you eating today?</p>
		<a href='#/restaurantList' class='button selection'>Restaurant</a> <a href='#/groceryList' class='button selection'>Grocery</a>
	</div>
</div>
</div>
