
<div class="row" ng-controller="piechart" style="text-align: center">
    <div class="large-12 columns">
	<h1>Did You Know?</h1>
	<h5>Roughly one third of the food produced in the world for human consumption every year — approximately 1.3 billion tonnes — gets lost or wasted.</h5>
	<h3>Food loss and waste per person per year (lb)</h3>
	<div ng-controller="piechart">
	<nvd3-pie-chart
    	data="exampleData"
        id="exampleId"
        width="550"
        height="350"
        x="xFunction()"
        y="yFunction()"
        showLabels="true"
        showLegend="true"
        tooltips="true"
        labelType="percent"
        tooltipcontent="toolTipContentFunction()">
        <svg height="250"></svg>
    </nvd3-pie-chart>
	</div>
	<p>Where are you eating today?</p>
	<a href='#/restaurantList' class='button'>Restaurant</a> <a href='#/groceryList' class='button'>Grocery</a>
</div>
</div>


