<link rel="stylesheet" type="text/css" href="css/storeStyle.css">
<!-- @author Anika -->
<div id="container">
	<div class="row">
		<div class="medium-3 columns">
			<div class="card">
			    <div class="image">
			      	<img src="https://instrumentofexpression.files.wordpress.com/2012/09/img_4246.jpg">
			        <span class="title">Kewl Store</span>
			    </div>

			    <div class="content">
			      	<img src="https://slaterjd.files.wordpress.com/2012/09/manchester-england-google-maps4.jpg">
			        <p><span style = "font-weight:bold;">Address: </span> 2159 FoodSaver Avenue, San Jose, CA, 95182</p>
			        <p><span style = "font-weight:bold;">Phone: </span> 408-SAV-FOOD</p>
			        <p><span style = "font-weight:bold;">Hours: </span> 9 AM - 10 PM</p>
			    </div>

			    <div class="action">
			        <a href='#'>Visit our site</a>
			    </div>

			</div>
		</div>

		<div class="medium-9 columns end">
			<div class="card">
			    <div class="content">

			    <span class="title">Products</span>
			        <form id = "search">
						<div class="row collapse">					  
							<div class="row">
								<div class="large-6 columns"></div>
							   	<div class="large-6 columns">
								<div class="row collapse postfix-round">
							   		<div class="small-9 columns">
							   			<input type="text" placeholder="Find Product">
							   		</div>
							   		<div class="small-3 columns">
							   			<a href="#" class="button postfix">Go</a>
							   		</div>
								</div>
							</div>
						</div>
					</div>
					</form>
			    
			    <div id = "productsTable">
				        <table>
						  <thead>
						    <tr>
						      <th width="200">Product Name</th>
						      <th>Estimated Expiration</th>
						      <th width="150">Description</th>
						      <th width="150">Category</th>
						      <th width="150">Price</th>
						      <th width="200">Purchase</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <td>Potatoes</td>
						      <td>6/13/2016</td>
						      <td>Sweet Potatoes</td>
						      <td>Produce</td>
						      <td>$0.75/lb</td>
						      <td>
								<form class="custom">
								  <div class="row collapse">
								    <div class="small-4 columns">
								      <select>
								        <option>1</option>
								        <option>2</option>
								        <option>3</option>
								        <option>4</option>
								        <option>5</option>
								      </select>
								    </div>
								    <div class="small-8 columns">
								      <a href="#" class="button postfix">ORDER</a>
								    </div>
								  </div>
								</form>
						      </td>
						    </tr>
						    <tr>
						      <td>Soup</td>
						      <td>4/23/2016</td>
						      <td>Tomato soup</td>
						      <td>Canned Products</td>
						      <td>$1.95</td>
						      <td>
								<form class="custom">
								  <div class="row collapse">
								    <div class="small-4 columns">
								      <select>
								        <option>1</option>
								        <option>2</option>
								        <option>3</option>
								        <option>4</option>
								        <option>5</option>
								      </select>
								    </div>
								    <div class="small-8 columns">
								      <a href="#" class="button postfix">ORDER</a>
								    </div>
								  </div>
								</form>
						      </td>
						    </tr>
						    
						    <tr>
						      <td>Pizza</td>
						      <td>8/30/2016</td>
						      <td>Pepperoni</td>
						      <td>Frozen Goods</td>
						      <td>$2.50</td>
						      <td>
								<form class="custom">
								  <div class="row collapse">
								    <div class="small-4 columns">
								      <select>
								        <option>1</option>
								        <option>2</option>
								        <option>3</option>
								        <option>4</option>
								        <option>5</option>
								      </select>
								    </div>
								    <div class="small-8 columns">
								      <a href="#" class="button postfix">ORDER</a>
								    </div>
								  </div>
								</form>
						      </td>
						    </tr>
						    <tr>
						      <td>Ice Cream</td>
						      <td>3/10/2016</td>
						      <td>Coffee</td>
						      <td>Frozen Goods</td>
						      <td>$1.50</td>
						      <td>
								<form class="custom">
								  <div class="row collapse">
								    <div class="small-4 columns">
								      <select>
								        <option>1</option>
								        <option>2</option>
								        <option>3</option>
								        <option>4</option>
								        <option>5</option>
								      </select>
								    </div>
								    <div class="small-8 columns">
								      <a href="#" class="button postfix">ORDER</a>
								    </div>
								  </div>
								</form>
						      </td>
						    </tr>
						    <tr>
						      <td>Beans</td>
						      <td>4/13/2016</td>
						      <td>Green Beans</td>
						      <td>Produce</td>
						      <td>$0.95/lb</td>
						      <td>
								<form class="custom">
								  <div class="row collapse">
								    <div class="small-4 columns">
								      <select>
								        <option>1</option>
								        <option>2</option>
								        <option>3</option>
								        <option>4</option>
								        <option>5</option>
								      </select>
								    </div>
								    <div class="small-8 columns">
								      <a href="#" class="button postfix">ORDER</a>
								    </div>
								  </div>
								</form>
						      </td>
						    </tr>
						    
						  </tbody>
						</table>
					</div>
			      </div>
			      <div class="action">
			        <a href='#'>View my cart</a>
			      </div>
			    </div>
			  </div>
			</div>
		</div>