/*http://codepen.io/praveenpuglia/pen/zGRPjM*/
.tagline {
  margin-top: 100px;
  text-align: center;
}
.change-container {
  position: relative;
  display: inline-block;
  width:170px;
  border-bottom:1px solid #698827;
  margin-bottom:-10px;
}
.changing {
  position:absolute;
  overflow:hidden;
  display: inline-block;
  color:#698827;
  width:100%;
  left:0;
  bottom:0;
  height:0;
  opacity:0;
  text-rendering:optimizeLegibility;
  animation : revealNextWord 8s ease-in-out infinite;
}

.changing:nth-child(2) {
  animation-delay:2s;
}
.changing:nth-child(3) {
  animation-delay:4s;
}
.changing:nth-child(4) {
  animation-delay:6s;
}

@keyframes revealNextWord {
    0% { opacity: .3; height: 0; }
    10% { opacity: 1; height: 1.2em; }
    20% { opacity: 1; height: 1.2em; }
	  28% { opacity: 0; height:2em;}
    100% { opacity: 0; }
}

@mixin center(){
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
    left:50%;
    top:50%;
}


.contentHome{
  margin-top: 20em;
}


/*http://codepen.io/MarcMalignan/pen/xByvJ*/

.moving-zone {
    position: absolute;
    top:20em; left:20%;
    width:70%; height:120px;
    margin: -60px 0 0 -150px;
    perspective: 800px;
}
.popup {
    position: absolute;
    width:130%;
    box-sizing: border-box;
    cursor: pointer;
    transform-style: preserve-3d;
    background: transparent;
}
.popup:before {
    content: '';
    position: absolute;
    left:5%; top:5%;
    width:100%; height:100%;
    transform: translateZ(-100px);
}
.popup-content {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}
.popup-text {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    text-align: center;
    transform: translateZ(15px);
}

.popup-text #siteTitle {
  margin: 0;
  width: 80%;
}

