#siteTitle {
	width: 60%;
	margin-left: 20%;
}

.tagline {
  margin-bottom: 1em;
}

.reveal-modal {
  background-color: rgba(250, 255, 245, 0.75);
}

.modal-close-vendor, .modal-close-customer {
  border-radius: 1em;
  background-color: #6AAE24;
}


.selection {
	margin: 0.5em 0.5em;
  color: black;
  font-size: 2rem;
  letter-spacing: 5px;
  border: 4px solid transparent;
  border-image: linear-gradient(45deg, lightgray, #6AAE24);
  border-image-slice: 1;
  background: linear-gradient(45deg, lightgray, #6AAE24);
  -webkit-background-clip: text;
  text-fill-color: transparent;
  transition: all 0.2s ease; 
}

.button:hover {
    background: linear-gradient(45deg, #6AAE24, silver); 
}

.modal-close-vendor:hover, .modal-close-customer:hover {
    border-radius: 1em;
    background: linear-gradient(45deg, #6AAE24, silver); 
}

#chooseType {
	text-align: center;
}

#footer {
	border-top: 1px solid lightgray;
	background: linear-gradient(to bottom, rgba(129, 190, 100, 0.5), white);
	padding-left: 65%;
	padding-top: 0;
	margin-top: 2em;
  height: 10em;
}

.fb-like {
	display: inline-block;
	margin-right: 2em;
}



/************ TWITTER FOLLOW BUTTON *************/


#twitterButtonFollow, #twitterButtonFollow div {
  /* See it in slo-mo, you can change this */
  transition-duration: 1.5s;
}

#twitterButtonFollow, .buttonT { transition-timing-function: ease; }

#twitterButtonFollow {
	display: inline-block;
  margin: 3em 0em;
  /*margin-left: 50%;*/
  /*width: 15em;*/
  display: inline-block;
  position: relative;
  padding: .375rem .375rem 0;
  font-family: verdana;
  height: 2.5rem;
  background: #A9ADB6;
  border-radius: .25rem;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0,0,0,.2), inset 0 .25rem 1rem rgba(0,0,0,.1);
}

#twitterButtonFollow .buttonT { opacity: 0; }

#twitterButtonFollow .cover {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  transform-origin: center bottom;
  transform-style: preserve-3d;
  font: 1.25em/2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}

#twitterButtonFollow .innie, .outie, .spine, .shadow { position: absolute; width: 100%; }

#twitterButtonFollow .innie, .outie {
  height: 100%;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.1) 100%);
  border-radius: .25rem;
}
#twitterButtonFollow .innie:after, .outie:after { content:"t";}
@font-face { font-family:icon; src: url('http://bennettfeely.com/fonts/icons.woff'); }
#twitterButtonFollow .innie {
  background-color: #67E2FE;
  text-shadow: 0 -2px 4px rgba(0,0,0,.2);
  color:black;
}

#twitterButtonFollow .spine {
  top: .25rem;
  background: #20C7F3;
  height: .25rem;
  transform: rotateX(90deg);
  transform-origin: center top;
}

#twitterButtonFollow .shadow {
  top: 100%;
  left: 0;
  height: 3.5rem;
  transform-origin: center top;
  transform: rotateX(90deg);
  opacity: 0;
  z-index: 0;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,.6) 0%, transparent 100%);
  background-image: linear-gradient(to bottom, rgba(0,0,0,.6) 0%, transparent 100%);
  border-radius: .4rem;

}

#twitterButtonFollow .outie {
  background-color: #2EC8FA;
  transform: translateZ(.25rem);
  text-shadow: 0 2px 4px rgba(0,0,0,.2);
}

#twitterButtonFollow:hover { background: #EBEFF2; }
#twitterButtonFollow:hover .buttonT { opacity: 1; }

#twitterButtonFollow:hover .cover, #twitterButtonFollow:hover .innie, #twitterButtonFollow:hover .spine, #twitterButtonFollow:hover .outie, #twitterButtonFollow:hover .spine { transition-timing-function: cubic-bezier(.2,.7,.1,1.1); }

#twitterButtonFollow:hover .cover { transform: rotateX(-120deg);  }

#twitterButtonFollow:hover .innie { background-color: #3ADAFC; }
#twitterButtonFollow:hover .spine { background-color: #52B1E0; }
#twitterButtonFollow:hover .outie { background-color: #2174A0; color: rgba(255,255,255,0); }

#twitterButtonFollow:hover .shadow { 
  opacity: 1;
  transform: rotateX(45deg) scale(.95);
}

#twitterButtonFollow small {
  font: .8rem/1 sans-serif;
  padding-top: 4rem;
  color: #777;
}
#twitterButtonFollow small a { color: black; text-decoration: none; border-bottom: thin solid #ccc; }
#twitterButtonFollowsmall a:hover { border-bottom-color: black; }

